[user]
	email = mrkic.nebojsa@gmail.com
	name = Nebojsa Mrkic
	signingkey = 7B575A703D16883497F025788F598A925033BBBD
[pull]
	rese = false
	rebase = false
[core]
	editor = vim
	sshCommand = ssh
	pager = delta
[commit]
	gpgsign = false
[init]
	defaultBranch = main
[interactive]
	difffilter = delta --color-only
[delta]
	navigate = true
	light = false
[diff]
	colormoved = default

[merge]
	conflictstyle = diff3
